# Processamento de Imagem e Visão
ultralytics
opencv-python
Pillow

# Deep Learning (Assinatura e DINOv2)
torch
torchvision
timm

# Machine Learning e Estatística
scikit-learn
xgboost
numpy
joblib

# Visualização e Utilidades
matplotlib
seaborn
python-dotenv